<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hiberate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!-- Using Supabase Connection Pooler (IPv4 compatible for Render) -->
        <property name="hibernate.connection.url">jdbc:postgresql://aws-0-ap-south-1.pooler.supabase.com:6543/postgres</property>
        <property name="hibernate.connection.username">postgres.httwiaqdecsnbiboszcm</property>
        <property name="hibernate.connection.password">Pranav@31826</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping resource="eco/beans/Employee.hbm.xml"/>
        <mapping resource="eco/beans/EmpRequest.hbm.xml"/>
        <mapping resource="eco/beans/Operator.hbm.xml"/>
        
    </session-factory>
    
</hibernate-configuration>